<template>
  <div class="flex items-center text-gray-500 dark:text-slate-300 my-1">
    <img
      class="h-5 w-5"
      :src="iconPath"
      v-if="iconPath"
      alt=""
      width="20"
      height="20"
    />
    <span class="leading-4" :class="{ 'ml-1': iconPath, 'mr-1': version }">{{
      name
    }}</span
    ><template v-if="version">{{ version }}</template>
  </div>
</template>
<script lang="ts" setup>
import {
  Android,
  BSD,
  LinuxDistributions,
  MACOS,
  MACOS_VERSIONS,
  WINDOWS,
} from "../../constants";

type Enum<E> = Record<keyof E, number | string> & { [k: number]: string };

const props = defineProps<{
  name: string;
  version?: string;
}>()

let iconPath: string | undefined;

const enumIncludes = <T>(name: string, collection: Enum<T>): boolean =>
  Object.values(collection).includes(name);

if (enumIncludes(props.name, LinuxDistributions)) {
  iconPath = `${import.meta.env.BASE_URL}img/os/linux.svg`;
  if (props.name != LinuxDistributions.LINUX) {
    iconPath = `${
      import.meta.env.BASE_URL
    }img/os/linux/${props.name.toLowerCase()}.svg`;
  }
} else if (enumIncludes(props.name, Android)) {
  iconPath = `${import.meta.env.BASE_URL}img/os/android.svg`;
} else if (props.name === WINDOWS) {
  iconPath = `${import.meta.env.BASE_URL}img/os/windows/10.svg`;
  if (props.version === "7") {
    iconPath = `${import.meta.env.BASE_URL}img/os/windows/7.svg`;
  }
} else if (props.name === "Chrome OS") {
  iconPath = `${import.meta.env.BASE_URL}img/chrome.png`;
} else if (props.name === BSD.FREEBSD) {
  iconPath = `${import.meta.env.BASE_URL}img/os/bsd/freebsd.svg`;
} else if (props.name === MACOS) {
  if (props.version && enumIncludes(props.version, MACOS_VERSIONS)) {
    iconPath = `${
      import.meta.env.BASE_URL
    }img/os/macos/${props.version.toLowerCase()}.png`;
  } else {
    iconPath = `${import.meta.env.BASE_URL}img/os/macos.svg`;
  }
}
  
</script>
