<template>
  <div class="flex items-center text-gray-500 dark:text-slate-300 my-1">
    <img
      alt=""
      width="20"
      height="20"
      class="h-5 w-5"
      :src="iconPath"
      v-if="iconPath && name === RenderingEngines.GECKO"
    />
    <i v-else>⚙️</i>
    <span class="ml-1">{{ name }}</span>
  </div>
</template>
<script lang="ts" setup>
import { computed } from "vue";
import { RenderingEngines } from "../../constants";

const props = defineProps<{
  name: string;
}>();

const iconPath = computed(() =>
  props.name
    ? `${
        import.meta.env.BASE_URL
      }img/rendering_engines/${props.name.toLowerCase()}.svg`
    : undefined
);
</script>
