<template>
  <div v-if="browser" class="font-light py-12 px-4 md:px-8 mb-8">
    <div class="max-w-3xl w-full mx-auto z-10">
      <div class="flex flex-col">
        <div class="bg-white dark:bg-slate-800 border border-white shadow-lg rounded-xl p-4 m-4">
          <div class="flex flex-wrap gap-x-3">
            <div class="relative w-16 h-auto sm:mb-0 mb-3">
              <img
                width="64"
                height="64"
                :src="`img/${browser?.internal_name?.toLowerCase()}.png`"
                :alt="`${browser?.real_name?.toLowerCase()} logo`"
                class="w-16 h-auto rounded-2xl"
              />
            </div>
            <div class="flex-auto justify-evenly">
              <div class="flex items-center justify-between sm:mt-2">
                <div class="flex items-center">
                  <div class="flex flex-col">
                    <div
                      class="w-full flex-none text-left text-xl text-gray-800 dark:text-white font-bold leading-none"
                    >
                      {{ browser.name }} {{ simpleVersion }}
                    </div>
                  </div>
                </div>
              </div>

              <div
                class="flex pt-2 text-sm text-gray-500 flex-wrap gap-x-3 gap-y-1"
              >
                <div class="flex-1 inline-flex items-center">
                  <OS v-if="browser?.bowser?.os?.name"
                    :name="browser?.bowser?.os?.name"
                    :version="
                      browser?.bowser?.os?.versionName ||
                      browser?.bowser?.os?.version
                    "
                  />
                </div>
                <div class="flex-1 inline-flex items-center">
                  <rendering-engine
                    v-if="browser?.bowser?.engine?.name"
                    :name="browser?.bowser?.engine?.name"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="max-w-3xl w-full mx-auto z-10">
      <div class="flex flex-col">
        <div
          class="border border-white shadow-lg rounded-xl p-4 m-4 flex justify-between flex-wrap gap-4"
          :class="{
            'bg-red-300': isNotUpToDate,
            'border-red-300': isNotUpToDate,
            'bg-blue-300': isUpComingVersion,
            'border-blue-300': isUpComingVersion,
            'bg-green-300': isFullyUpToDate,
            'border-green-300': isFullyUpToDate,
            'bg-yellow-200': isNearlyUptoDate,
            'border-yellow-200': isNearlyUptoDate,
          }"
        >
          <div>
            <p v-if="isFullyUpToDate">
              <translate class="font-bold text-lg"
                >Your browser is up-to-date</translate
              ><br />
              <translate>Everything's fine, keep browsing!</translate>
            </p>
            <p class="" v-else-if="isNearlyUptoDate">
              <translate class="font-bold text-lg"
                >Your browser is nearly up-to-date</translate
              ><br />
              <translate>Maybe you'll get an update soon</translate>
            </p>
            <p v-else-if="isUpComingVersion">
              <translate class="font-bold text-lg"
                >You're running an upcoming browser version.</translate
              ><br />
              <translate>Stay on the lookout for 🐛</translate>
            </p>
            <p v-else class="font-bold text-lg">
              <translate>Your browser is not up-to-date</translate>
            </p>
            <p
              v-if="
                browser.latest &&
                simpleVersion &&
                !browser.dead &&
                browser.latest.toString() !== simpleVersion.toString()
              "
            >
              <translate
                v-if="browser.esr"
                :translate-params="{
                  browser: browser.name,
                  version: browser.latest,
                }"
              >
                The last available version is %{browser} %{version}, but you are
                using an ESR version.
              </translate>
              <translate
                v-else
                :translate-params="{
                  browser: browser.name,
                  version: browser.latest,
                }"
              >
                The last available version is %{browser} %{version}.
              </translate>
            </p>
            <p v-else-if="browser.dead" class="font-bold">
              <translate>This browser isn't maintained anymore.</translate
              ><br />
              <translate>
                We urge you to switch to another browser such as Firefox.
              </translate>
            </p>
            <p v-if="!browser.latest">
              <translate> We might not have data on this browser. </translate>
            </p>
          </div>
          <p v-if="browser.name === 'Safari' && browser.os === 'Linux'">
            <translate
              >We detected Safari on Linux, which is odd. Maybe you are using a
              Webkit-based browser, in which case this data is wrong, and you
              probably don't need our advice.</translate
            >
          </p>
          <template
            v-if="!isFullyUpToDate && !isNearlyUptoDate && !isUpComingVersion"
          >
            <a
              class="bg-blue-600 font-semibold text-white p-2 text-center w-32 rounded-full hover:bg-blue-700 focus:outline-none focus:ring shadow-lg hover:shadow-none transition-all duration-300 m-2 flex-1 inline-flex justify-center gap-x-1"
              v-if="
                browser.downloadURL &&
                browser.os !== 'linux' &&
                browser.name !== 'Safari'
              "
              :href="browser.downloadURL"
            >
              <translate>Download latest version</translate>
              <svg
                width="24px"
                height="24px"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
                class="self-center"
              >
                <g data-name="Layer 2">
                  <g data-name="external-link">
                    <rect
                      stroke="currentColor"
                      width="24"
                      height="24"
                      opacity="0"
                    />
                    <path
                      fill="currentColor"
                      d="M20 11a1 1 0 0 0-1 1v6a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1h6a1 1 0 0 0 0-2H6a3 3 0 0 0-3 3v12a3 3 0 0 0 3 3h12a3 3 0 0 0 3-3v-6a1 1 0 0 0-1-1z"
                    />
                    <path
                      fill="currentColor"
                      d="M16 5h1.58l-6.29 6.28a1 1 0 0 0 0 1.42 1 1 0 0 0 1.42 0L19 6.42V8a1 1 0 0 0 1 1 1 1 0 0 0 1-1V4a1 1 0 0 0-1-1h-4a1 1 0 0 0 0 2z"
                    />
                  </g>
                </g>
              </svg>
            </a>
            <p v-else-if="browser.os === 'linux'">
              <translate>
                Since you use Linux, you probably get your browser through
                software repositories, so it will probably be updated soon.
              </translate>
            </p>
            <p v-else-if="browser.name === 'Safari' && browser.os === 'macOS'">
              <translate>
                Since you use macOS, Safari is updated at the same time as your
                whole system. If you can't upgrade your system, we recommend you
                at least to switch to a different browser.
              </translate>
            </p>
          </template>
        </div>
      </div>
    </div>
    <firefox-ad v-if="browser?.name !== 'Firefox'" />
    <linux-ad v-if="browser?.bowser?.os?.name === 'Linux'" />
  </div>
</template>
<script setup lang="ts">
import { computed } from "vue";
import browserService from "../service/BrowserService";
import OS from "./Detector/OS.vue";
import RenderingEngine from "./Detector/RenderingEngine.vue";
import FirefoxAd from "./FirefoxAd.vue";
import LinuxAd from "./LinuxAd.vue";

const userAgent = window.navigator.userAgent;

const browser = browserService(userAgent);
const isNotUpToDate = (!browser.uptodate && !browser.esr) || browser.dead;
const isUpComingVersion = computed(() => browser.unreleased);
const isFullyUpToDate = computed(() => {
  return (
    (browser.uptodate && browser.matchesLastVersion && !browser.dead) ||
    browser.esr
  );
});
const isNearlyUptoDate = computed(() => {
  return (
    browser.uptodate &&
    !browser.dead &&
    !browser.matchesLastVersion &&
    !isUpComingVersion &&
    !browser.esr
  );
});
const simpleVersion = computed(() => {
  if (browser.version?.split(".")[1] === "0")
    return browser.version?.split(".")[0];
  return browser.version?.split(".").slice(0, 2).join(".");
});
</script>
