<template>
  <div class="h-96 font-light py-12 px-4 md:px-8 mb-8">
    <div class="max-w-3xl w-full mx-auto z-10 h-full">
      <div class="flex flex-col h-full">
        <div
          class="
            flex flex-col
            bg-red
            border border-red
            shadow-lg
            rounded-xl
            p-4
            m-4
            h-full
            place-content-center
            align-middle
          "
        >
          <translate class="mb-2 font-bold text-lg"
            >Unfortunately, we weren't able to find out if your browser is
            up-to-date</translate
          >
          <translate
            >This may happen if you're using an exotic browser or strong privacy
            addons.</translate
          >
          <translate>
            Your browser reported the following user-agent to us:
          </translate>
          <pre class="overflow-auto">{{ userAgent }}</pre>
        </div>
      </div>
    </div>
  </div>
</template>
<script setup lang="ts">

const userAgent = window.navigator.userAgent;
</script>
