<template>
  <div class="max-w-3xl w-full mx-auto z-10">
    <div class="flex flex-col">
      <div class="border border-white shadow-lg rounded-xl p-4 m-4">
        <a href="https://firefox.com" class="flex items-center">
          <img
            width="20"
            height="20"
            alt=""
            class="h-5 w-5 mr-2"
            src="/img/firefox.png"
          />
          <translate class="text-lg dark:text-white"
            >Did you consider moving to Firefox ?</translate
          >
        </a>
      </div>
    </div>
  </div>
</template>
