<template>
  <main class="container mx-auto">
    <detector />
    <info />
  </main>
</template>

<script setup lang="ts">
import { defineAsyncComponent } from "vue";
import Info from "./Info.vue";
import ErrorComponent from "./ErrorComponent.vue";
import LoadingComponent from "./LoadingComponent.vue";

const Detector = defineAsyncComponent({
  loader: () => import("./Detector.vue"),
  delay: 100,
  timeout: 30000,
  errorComponent: ErrorComponent,
  loadingComponent: LoadingComponent,
});
</script>
