<template>
  <div class="grid gap-x-8 gap-y-4 px-2 mx-auto prose dark:prose-invert">
    <div>
      <h2>
        <translate>Why have an up-to-date browser?</translate>
      </h2>
      <translate tag="p"
        >Keeping your web browser up to date is very important. Out of date web
        browsers can have serious security problems. By running an older web
        browser you'll also probably be missing out on useful and cool new
        features which newer browser support.</translate
      >
    </div>
    <div>
      <h2>
        <translate>Which browser should I choose?</translate>
      </h2>
      <translate tag="p" class="prose dark:prose-invert"
        >Honestly, we advise you to pick Firefox. This browser is fast and
        modern, and features a lot of addons to tweak your browsing experience.
        It's also available on all platforms.</translate
      >
      <translate tag="p" class="prose dark:prose-invert"
        >If you don't like it, you can have a look at Chrome, Opera, or even
        Edge if you're using Windows 10.</translate
      >
    </div>
    <div>
      <h2>
        <translate>I can't change my browser!</translate>
      </h2>
      <translate tag="p" class="prose dark:prose-invert">
        If you don't have the control on your environment (for instance in a
        library or at work), ask your IT specialist to update your browser.
      </translate>
      <translate tag="p" class="prose dark:prose-invert">
        If the device on which your browser is working on features an outdated
        operating system, like for example Windows XP or old MacOS versions,
        consider upgrading your system or - if you don't want to pay - switch to
        GNU/Linux.
      </translate>
    </div>
    <div>
      <h2>
        <translate>How to change my browser</translate>
      </h2>
      <p v-translate class="prose dark:prose-invert">
        If you are using Windows or MacOS as an operating system, simply browse
        to the <b>official website</b> for the browser you choose - for instance
        <a href="https://firefox.com">https://firefox.com</a> if you choose
        Firefox - and follow the instructions.
      </p>
      <translate tag="p">
        Under GNU/Linux, simply install the browser of your choice through the
        appropriate package manager.
      </translate>
    </div>
    <div>
      <h2>
        <translate>Who made this page?</translate>
      </h2>
      <p v-translate class="prose dark:prose-invert">
        This is made by <a href="https://tcit.fr">Thomas Citharel</a> for
        <a href="https://framasoft.org">Framasoft</a> to help people determine
        if their browser is up-to-date.
      </p>
      <p v-translate class="prose dark:prose-invert">
        Issues with
        <a href="https://degooglisons-internet.org/list">our services</a>
        sometimes come from browsers that aren't up-to-date.
      </p>
    </div>
  </div>
</template>
