<template>
  <div class="max-w-3xl w-full mx-auto z-10">
    <div class="flex flex-col">
      <div class="border border-white shadow-lg rounded-xl p-4 m-4 flex dark:text-white">
        <img
          width="20"
          height="20"
          alt=""
          class="h-5 w-5 mr-2 dark:stroke-white"
          src="/img/os/linux.svg"
        />
        <translate>You're on Linux. That's cool!</translate>
      </div>
    </div>
  </div>
</template>

