<template>
  <Home />
</template>

<script lang="ts" setup>
import Home from "./components/Home.vue";
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  @apply dark:bg-slate-800
}
</style>
